header {
  background: #414141;
  height: 8%;
  width: 100%;
  margin-bottom: 2%;
  padding: 1% 0;

  @media screen and (max-width: 766px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 767px) {
    font-size: 1.5rem;
    line-height: 50px;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.5rem;
    line-height: 50px;
    height: 3%;
  }

  .header-menu {
    height: 100%;
    text-transform: uppercase;
    margin: 0 2%;

    &_logo {
      font-weight: bold;
      font-size: 1.5em;
      font-family: 'Montserrat Subrayada', sans-serif;

      &:hover {
        transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
        color: #32B9A1;

        & i {
          transition: inherit;
          color: #32B9A1;
        }
      }
    }

    &_list {
      margin-left: auto;

      & ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        & .dropdown {
          display: none;
        }

        & .active {
          display: block !important;
        }

        & li {
          width: inherit;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0 5px;
          position: relative;

          & a {
            margin: 0 0 0 5px;

            &:hover {
              transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
              color: #32B9A1;

              & i {
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                color: #32B9A1;
              }
            }
          }

          & .dropdownNavbar {
            display: contents;
          }
        }
      }
    }
  }

  & .dropdownMenu {
    clear: both;
    position: absolute;
    background-color: #414141;
    z-index: 10;
    right: 43px;
    width: 180px;
    height: 100px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #3f8778;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & a {
      box-sizing: border-box;
      display: block;
      text-decoration: none;
      color: #ffffff;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
      margin: auto;

      &:hover {
        color: #32B9A1;
        cursor: pointer;

        & i {
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
          color: #32B9A1;
          cursor: pointer;
        }
      }
    }
  }
}

