.navbar {
  margin-top: 2%;
  min-width: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
  height: 680px;
  max-height: 800px;
  position: static;

  @media screen and (max-width: 479px){
    display: none;
  }

  &-link {
    font-size: 20px;
    width: 150px;
    margin: 10px 10px 10px  10px;



    & a {
      display: block;
      margin: 0 0 10px 10px;
      text-decoration: none;
      color: #ffffff;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

      &:hover {
        color: #32B9A1;
      }
    }

    &:last-child {
      margin: auto 0 0 0;
    }

    &__exit {
      box-sizing: border-box;
      display: block;
      text-decoration: none;
      color: #ffffff;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
      margin: auto;
      &:hover {
        color: #32B9A1;

        & i {
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
          color: #32B9A1;
        }
      }
    }
  }

  & hr {
    width: 150px;
    height: 3px;
    background: #32B9A1;
    margin: auto 0 20px 0;
  }
}
